@font-face {
    font-family: legothick;
    src: url(fonts/legothick.ttf);
}

@font-face {
    font-family: legobrix;
    src: url(fonts/legobrix.ttf);
}

body {
    background-color: black;
}

#clock {
    color: green;
    text-align: center;
    font-family: legobrix;
    font-size: 20vw;
}
